html {

}
body {
    position:absolute;
    background-color:white;
    -webkit-font-smoothing: subpixel-antinaliased;
    color:@grayDarker;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width:100%;
    height:100%;
    .box-shadow(inset 0px 0px 50px black);
    padding-top:@baseLineHeight*4;
}
section {
    .clearfix();
    .box-sizing(border-box);
    padding:@baseLineHeight*3 0;
    display:block;
    &.first {
        margin-top:@baseLineHeight*3;
    }
}
li {
    display:inline;
    list-style:none;
}
a:link, a:visited {
    text-decoration: none;
    .transition(all .4s ease-out);
}
a:hover, a:-webkit-any-link:hover {
    .transition(all .2s ease-out);
    color:#EF5B31;
}
a:-webkit-any-link {
    color:inherit;
}
#header {
    .clearfix;
    width:100%;
    padding:@baseLineHeight/2 @baseLineHeight;
    position:fixed;
    left:0;
    right:0;
    top:0;
    background:white;
    height:@baseLineHeight*2;
    .menu-btn {
        float:right;
        display:none;
    }
}
#logo img {
    width:30px;
}

#mainMenu {
    position:fixed;
    top:0;
    right:@baseLineHeight;
    li {
        float:left;
        padding:@baseLineHeight/2;
        a:link {
            display:block;
            width:100%;
            height:100%;
        }
    }
}
#apiMenu {
    position:fixed;
    top:0;
    left:@baseLineHeight*3;
    li {
        float:left;
        padding:@baseLineHeight/2;
    }
}
.color-bar {
  background: transparent url('../imgs/bg-spectrum.png') center top repeat-x;
  height: 21px;
  left: 0;
  position: fixed;
  top: @baseLineHeight*2;
  width: 100%;
}
hr {
    width:100%;
    border:0;
    height: 4px;
    margin:0;
    border-bottom:1px solid white;
}
#apiDemo {
font-family: monospace;
font-weight:bold;
font-size:@baseFontSize*1.5;
color: black;
}
#apiDemoArea {
    .clearfix();
background: rgba(0,0,0,0.5);
.box-shadow(0px 0px 10px black);
}

img.apiDemo {
    height:80%;
    padding:@baseLineHeight*2;
    float:right;
}

footer {
    background: white;
    color:black;
    padding:@baseLineHeight*2 0;
    h2, h3 {
        color:black;
    }

    li {
        display:block;
    }
}
