#header {
}
#featureBlurb {
    ul {
        .row(10);
        .push(1);
        display:block;
        li {
            .column(5,10);
            height:@baseLineHeight*9;
            margin-bottom:@baseLineHeight;
}
}
}
#demo {
    background:url('../imgs/W688_000001_300_xlarge.jpg');
    background-position:center center;
    background-size:120%;
    height:@baseLineHeight*40;
}
#software {
    h2 {
        border-bottom:1px solid @grayLighter;
    }
    .column(6);
}
#Architectures {
    h2 {
        border-bottom:1px solid @grayLighter;
    }
    .column(6);
}
#implementationList{
    .column(12);
    h2 {
        border-bottom:1px solid @grayLighter;
    }
}
